Logistics Data (Kaggle)
Source: https://www.kaggle.com/datasets/devarajv88/delhivery-logistics-dataset/data

### BASIC DATA PROCESSING ###

Key Info about the Data:

1. Each row in the dataset is one element of one trip corresponding to one A to B journey
2. Trips may not be broken up into sub components
3. One driver has one route, which is comprised of multiple trips

We may therefore create a new dataframe where the rows comprising one whole trip may be shown on a single line:

1. The start point shown will be the starting location for the trip
2. The end point shown will be the final destination for the trip
3. The start and end times will be lifted accordingly
4. Mileage and duration values will be summed

We may then create another new dataframe where the rows comprising one entire trip are shown on a single line, following the same logical pattern as the trips summary dataframe detailed above.

We will also create a mapping of the depot locations with X, Y co-ordinates to represent Geographical location and aid the model in planning. This will be extracted by a triangulation script and stored as another CSV file of X,Y co-ordinates.

In [6]:
import torch
import numpy as np
import pandas as pd

In [7]:
import sys
from pathlib import Path

src_path = Path("../src").resolve()  # adjust relative to the notebook location
if str(src_path) not in sys.path:
    sys.path.insert(0, str(src_path))

In [8]:
from pathlib import Path
import pandas as pd
from data_utils import load_raw_data, clean_columns, group_by_trip, group_by_route

data_path = Path("../data/raw/delhivery.csv").resolve()
df = load_raw_data("../data/raw/delhivery.csv")
df_clean = clean_columns(df)
df_trips = group_by_trip(df_clean)
df_routes = group_by_route(df_trips)

Loaded data with shape: (144867, 24)

C:\Users\ellag\Desktop\ML Course\Logistics_Project\src\data_utils.py:84: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped["route_start_location"] = sorted_groups.apply(lambda g: g.sort_values("od_start_time").iloc[0]["source_center"]).values
C:\Users\ellag\Desktop\ML Course\Logistics_Project\src\data_utils.py:85: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped["route_end_location"] = sorted_groups.apply(lambda g: g.sort_values("od_start_time").iloc[-1]["destination_center"]).values

In [9]:
df_clean.to_csv("../data/processed/cleaned.csv", index=False)
df_trips.to_csv("../data/processed/trips.csv", index=False)
df_routes.to_csv("../data/processed/routes.csv", index=False)

In [10]:
from pathlib import Path
from data_utils import load_or_generate_coordinates

# Set project root explicitly
project_root = Path.cwd().parent

# Load coordinates (or generate if missing)
df_coords = load_or_generate_coordinates(project_root)
df_coords.head()

             x            y     center_id
0  -342.150349  2671.633788  IND000000AAL
1  2444.119681   306.914221  IND000000AAQ
2 -1718.978163 -1899.381983  IND000000AAZ
3 -2337.171910  1291.010481  IND000000ABA
4   424.943275  1393.575326  IND000000ABD